.row
  display: flex

  .no-padding
    padding: 0 !important

  & > [class*="col-"]
    padding: 0 15px

  & > [class*="col-"]:first-child
    padding-left: 0

  & > [class*="col-"]:last-child
    padding-right: 0

  @for $i from 1 through 12
    .col-#{$i}
      flex: $i